.CardItem{
    width: 90%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.4);
}

 img{
    width: 20%;
}

section p{
    font-size: 20px;
}

.Option{
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #424e5e;
    color: whitesmoke;
    text-decoration: none;
}