.Card{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-decoration: none;
}

.Numero{

    background-color: #2abccc;
    width: 15px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 13px;
    color: aliceblue;
    border: none;
    top: 10px;
    margin-left: 15px;
}

.Carrito_logo{
    width: 25px;

}