.CartItem{
    width: 100%;
    margin: 20px;
    padding: 20px;
    display: flex;
    background-color: aqua;
    /* text-align: center; */
    /* border-radius: 10px; */
    /* box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.4); */
}