.Contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Controles {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: auto;
}

.Boton {
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #424e5e;
    color: whitesmoke;
}