.Contador {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
}

.Controles {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #2abccc;
    border-radius: 40px;
}

.Contador .Botones {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #2abccc;
    color: aliceblue;
}

.numero {
    color: #2abccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contador .AddToCard {
    width: 100%;
    display: grid;
    place-items: center;
}

.Contador .botonAdd {
    border: solid 1px #2abccc;
    border-radius: 40px;
    width: 100%;
    color: #2abccc;
    background-color: white;
    
}